{% extends '../base.html' %}

{% block title %}
Actualizar contraseña
{% endblock title %}



{% block content %}
<div class="row my-5">
    <div class="col">
        <h1>Actualice la contraseña del usuario '{{user.nombre}}'</h1>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <form method="post" autocomplete="off">{% csrf_token %}
            {{form}}
            <button class="btn btn-sm btn-primary mt-3" type="submit">Actualizar contraseña</button>
        </form>
    </div>
</div>
{% endblock content %}